@font-face {
	font-family: 'iconfont';
	src: url('/font/iconfont.eot'); /* IE9*/
	src: url('/font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('/font/iconfont.woff') format('woff'), /* chrome、firefox */
	url('/font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('/font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-qianbao:before {
  content: "\e639";
}

.icon-daili:before {
  content: "\e64d";
}

.icon-kehu:before {
  content: "\e64e";
}

.icon-back:before {
  content: "\e658";
}

.icon-lingshouguanli:before {
  content: "\e624";
}

.icon-caigouguanli:before {
  content: "\e625";
}

.icon-kucunguanli:before {
  content: "\e626";
}

.icon-yingfuguanli:before {
  content: "\e627";
}

.icon-huiyuanguanli:before {
  content: "\e628";
}

.icon-hetongguanli:before {
  content: "\e62c";
}

.icon-shoufeiguanli:before {
  content: "\e62d";
}

.icon-yingyeshouru:before {
  content: "\e62e";
}

.icon-wanglaixianjin:before {
  content: "\e62f";
}

.icon-fapiaoguanli:before {
  content: "\e631";
}

.icon-zonghechaxun:before {
  content: "\e632";
}

.icon-pingzhengzhongxin:before {
  content: "\e634";
}

.icon-shouye:before {
  content: "\e637";
}

.icon-zhankai:before {
  content: "\e638";
}

.icon-xiaoxitishi:before {
  content: "\e63a";
}

.icon-zhanghao:before {
  content: "\e63b";
}

.icon-zhuxiao:before {
  content: "\e63c";
}

.icon-guanbi:before {
  content: "\e63e";
}